.ass {
    position: absolute;
    top: 0;
    margin-left: 5%;
    width: 30%;
    border-right: 1px black solid;
    height: 100%;
    max-width: 30%;
    resize: horizontal;
    overflow-x: hidden;
    min-width: 17%;
}